* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
:root {
     // ### Primary

     --red: hsl(0, 100%, 68%);
     --light-red: hsl(0, 100%, 78%);

     //### Neutral

     --very-dark-blue: hsl(230, 29%, 20%);
     --dark-grayish-blue: hsl(230, 11%, 40%);
     --grayish-blue: hsl(231, 7%, 65%);
     --light-grayish-blue: hsl(207, 33%, 95%);
}

body {
     /* 
     ### Headings, Call-to-actions, Navigation

- Family: [Barlow Condensed](https://fonts.google.com/specimen/Barlow+Condensed)
- Weights: 400, 700

### Body

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 400

     */

     //font-family: "Barlow", sans-serif;
     font-family: "Barlow Condensed", sans-serif;
     position: relative;
     z-index: -1;
}
.outside-container {
    // border: 2px solid red;
     padding: 2rem;
     //background-image: url("../images/illustration-devices.svg");
     // background-color: var(--grayish-blue);

     // background: var(--light-grayish-blue);
     position: relative;
     z-index: -1;
     .grey-background {
          position: absolute;
          height: 60%;
          width: 50%;
          top: 0;
          right: 0;

          background-color: var(--grayish-blue);
          background: var(--light-grayish-blue);
          z-index: -1;
          border-radius: 0 0 0 5rem;
     }
}

.inside-container {
     //border: 2px solid blue;
     position: relative;
     z-index: 2;
     min-width: 300px;
     max-width: 1100px;
     margin: 0 auto;
}

nav {
     //border: 5px solid green;
     display: flex;
     justify-content: space-between;
     align-items: center;
     //height: 600px;
     position: relative;

     &.desktop {
         // border: 5px solid yellow;

          .menu-wrap {
               .three-bars {
                    display: none;
               }
               .menu-close {
                    display: none;
               }
               ul {
                    list-style: none;
                    display: flex;
                    gap: 2rem;

                    li {
                         font-size: 0.9rem;
                         text-transform: uppercase;
                         font-weight: 700;
                         color: var(--very-dark-blue);
                         cursor: pointer;

                         &:last-child {
                              color: var(--grayish-blue);
                         }

                         &:hover {
                              text-decoration: underline;
                         }
                    }
               }
          }
     }
     &.mobile {
          .menu-wrap {
               .three-bars {
                   cursor: pointer;
               }
               .three-bars.hide {
                    display: none;
               }
               .menu-close{
                    cursor: pointer;
               }
               .menu-close.hide{
                    display: none;
               }
               ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 80vw;
                    //height: 600px;
                    background-color:white;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.671);
                    z-index: 2;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    //justify-content: center;
                    gap: 2rem;
                    padding: 2rem;

                    text-transform: uppercase;
                    font-weight: 700;
                    li{
                         cursor: pointer;
                         &:hover{
                              text-decoration: underline;
                         }
                    }

                    li:last-child {
                         color: gray;
                         border-top: 2px solid grey;
                         width: 100%;
                         text-align: center;padding: 1rem;
                    }
               }
               ul.hide{
                    display: none;
               }
          }
     }
}

main {
     display: flex;
     flex-direction: column;
     gap: 5rem;
}
.section-1 {
     //border: 2px solid red;
     // height: 400px;
     // background: url("../images/illustration-devices.svg");
     // background-size: cover;
     // background-position-x: 10%;
     // img{
     // max-height: 400px;}

     flex: 1;

     min-height: 250px;
     position: relative;
     &::after {
          //border: 2px solid blue;
          position: absolute;
          content: "";
          height: 100%;
          width: 100vw;
          background-image: url("../images/illustration-devices.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position-x: -30px;
     }
}

.section-2 {
    // border: 2px solid orange;
     flex: 1;

     min-height: 300px;
     font-family: "Barlow", sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     //gap: 0.51rem;

     .line1 {
          //border: 2px solid green;
          font-size: 0.7rem;
          letter-spacing: 3px;
          text-transform: uppercase;
          font-weight: 700;
          span {
               &:nth-child(1) {
                    color: white;
                    background-color: var(--very-dark-blue);
                    border-radius: 1rem;
                    padding: 5px;
                    margin-right: 1rem;
               }
               &:nth-child(2) {
                    color: var(--grayish-blue);
               }
          }
     }

     h1 {
          font-size: 2rem;
          font-family: "Barlow", sans-serif;
          font-family: "Barlow Condensed", sans-serif; //400

          font-weight: 700;
          text-transform: uppercase;
          padding: 1rem 0;
          padding-right: 1rem;
          color: var(--very-dark-blue);
     }

     h3 {
          font-weight: 400;
          font-size: 1rem;
          color: var(--grayish-blue);
          margin: 1rem 0;
     }
     h4 {
          font-size: 0.7rem;

          text-transform: uppercase;
          font-weight: 700;
          color: var(--grayish-blue);
          //padding: 2rem 0;
          letter-spacing: 1px;
          min-height: 50px;
          // border: 2px solid red;
          span {
               background-color: var(--red);
               padding: 0.6rem 1rem;
               border-radius: 5px;
               color: white;
               margin-right: 1rem;
               cursor: pointer;
               &:hover {
                    background-color: var(--light-red);
               }
          }
     }
}

@media screen and (min-width: 700px) {

     nav{
         // margin: 1rem;
         // @media screen and (min-width: 800px) {margin: 0;}
     }
     .outside-container {
          padding: 0.5rem;
          @media screen and (min-width: 800px) {
               padding: 1rem;
          }
          @media screen and (min-width: 900px) {
               padding: 2rem;
          }
          @media screen and (min-width: 1000px) {
               padding: 4rem;
          }
     }
     main {
          flex-direction: row-reverse;
          gap: 0;
          margin-top: 3rem;
          @media screen and (min-width: 900px) {
               gap: 2rem;
          }
          @media screen and (min-width: 900px) {
               gap: 4rem;
          }
     }

     .section-2 {
          .line1 {
               font-size: 1rem;
               //border: 2px solid red;
          }
          h1 {
               font-size: 3rem;
          }
          h3 {
               margin: 1rem 0 2rem 0;
          }
          h4 {
               //padding: 2rem 0;
               font-size: 0.8rem;
               letter-spacing: 3px;
               span {
                    letter-spacing: 1px;
               }

               @media screen and (min-width: 900px) {
                    padding: 2rem 0;
               }
          }
     }
}
